GridPane {
-fx-background-color: #363636;
}

AnchorPane {
-fx-background-color: #363636;
-fx-border-color: #000000;
-fx-border-width: 1 1 1 1; /* its make really one-pixel-border */
}



.label{
-fx-text-fill: #FFFFFF;
}

Button{
-fx-background-color: #000000;
-fx-text-fill: #FFFFFF;
}

ToggleButton{
-fx-background-color: #000000;
-fx-text-fill: #FFFFFF;
}

.progress-indicator .progress{
 -fx-background-color: #006e0b; 
}


.progress-indicator .percentage{
-fx-fill: #FFFFFF;
}

.scroll-pane{
-fx-background-color: #363636;
-fx-fit-to-width: true;
-fx-fit-to-height: true;
}

.text-field:focused{
    -fx-border-width: 1;
-fx-focus-color: #000000;
}

.separator *.line {
    -fx-border-color: #000000;
    -fx-border-width: 0.5;
}